@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide default browser password toggle */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

#hoverName {
    display: none;
    position: absolute;
    background-color: white;
    color: #00335A;
    right: 35px;
    top: 50px;
    padding: 10px;
    border: 1px solid #00335A;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}

#hoverImage:hover+#hoverName {
    display: block;
}